# Ignore the virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local user files and sensitive info that are handled by volumes
.env
users.db
uploads/

# Ignore Git files
.git/

# Ignore IDE files
.idea/

# Ignore Kubernetes manifests to keep image clean
k8s-deployment/

# Ignore Jenkinsfile
Jenkinsfile