services:
  web:
    build: .
    container_name: my_web_app
    ports:
      - "5000:5000"
    volumes:
      # Mounts the instance folder to persist the database and uploads
      - ./instance:/app/instance
    # Load environment variables from the .env file in the same directory
    env_file:
      - .env
    networks:
      - sonarnet

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    ports:
      - "9000:9000"
    networks:
      - sonarnet

networks:
  sonarnet:
    driver: bridge