apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: video-summ-pvc
  namespace: 2401082-videosummdocker
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
